@import ../../../../../../framework/source/resource/unify/mobile/core.sass
@import ../../../../../../framework/source/resource/unify/mobile/animation.sass
@import ../../../../../../framework/source/resource/unify/mobile/iphoneos/style.sass

#start
  +padded-layer
  +vbox
  .content > ul
    +navigation-list



#recent, #interesting
  +padded-layer
  +vbox
  background: black

  .title-bar
    [exec=refresh]
      +tool-bar-button-icon("icons-22/gear.png")

  .content img
    display: inline-block
    vertical-align: top
    margin: 5px
    +box-sizing("content-box")
    width: 75px
    height: 75px
    +box-shadow(rgba(255,255,255,0.4), 1px, 1px, 0px)
    +border-radius(10px)


#photo
  +vbox
  
    
    

#tab-bar
  [goto="start"]
    +tab-bar-button-icon('icons-32/03-loopback.png')

  [goto="recent"]
    +tab-bar-button-icon('icons-32/04-squiggle.png')

  [goto="interesting"]
    +tab-bar-button-icon('icons-32/108-badge.png')