[submodule "qooxdoo"]
	path = qooxdoo
	url = http://github.com/unify/qooxdoo.git
[submodule "support/callback-android"]
	path = support/callback-android
	url = http://github.com/unify/callback-android.git
[submodule "support/callback-ios"]
	path = support/callback-ios
	url = http://github.com/unify/callback-ios.git
