[submodule "qooxdoo"]
	path = qooxdoo
	url = http://github.com/unify/qooxdoo.git
[submodule "support/cordova-ios"]
	path = support/cordova-ios
	url = https://github.com/unify/incubator-cordova-ios
[submodule "support/cordova-android"]
	path = support/cordova-android
	url = https://github.com/unify/incubator-cordova-android
