/* 
=========================================================
    RESET
========================================================= 
*/

*{
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section, video, object {
  display: block;
}

a img {border: 0;}

figure {position: relative;}
figure img {width: 100%;}




/* 
=========================================================
    CORE
========================================================= 
*/

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
  font-size: 20px;
  line-height: 1.8;
  font-family: "Lucida Grande", Tahoma, sans-serif;
}

body > *{
}

img {
  border: none;
}

p{
  margin: 20px 0;
}

a{
  color: inherit;
}

pre{
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 4px 8px;
  background: rgba(255,255,255,0.2);
  font-family: "Consolas", monospace;
  border: 1px solid white;
}

ul{
  padding-left: 25px;
  list-style: square;
}

dt{
  font-weight: bold;
}

dd{
  padding-left: 20px;
}




/* 
=========================================================
    HEADER
========================================================= 
*/

header{
  margin: 50px 0;
  text-align: center;
  position: relative;
}

header img {
  margin: 0 auto;
}

header h1{
  display: none;
}

header p{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  text-transform: lowercase;
  font-size: 30px;
  color: white;
  background: rgb(255,165,60);
  -webkit-transform: rotate(45deg) translateY(-60px) translateX(30px);
  -moz-transform: rotate(45deg) translateY(-60px) translateX(30px);
  -o-transform: rotate(45deg) translateY(-60px) translateX(30px);
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}



/* 
=========================================================
    FOOTER
========================================================= 
*/

footer{
  background: rgb(49,51,61);
  color: white;
  border-top: 1px solid rgb(49,51,61);
  border-bottom: 1px solid rgb(49,51,61);
  font-size: 14px;
}

footer p:last-child{
  text-align: right;
  margin-top: 40px;
}

footer img{
  margin: 0 8px;
}



/* 
=========================================================
    NAVIGATION
========================================================= 
*/

nav {
  background: rgb(49,51,61);
  text-align: center;
}

nav ul{
  list-style: none;
  text-align:center;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 10px 16px;
    
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 1px 1px 1px black;
  margin: 0 8px;
}

nav li a:hover{
  background-color: rgba(255,255,255,0.2);
}



/* 
=========================================================
    VIDEOMASK
========================================================= 
*/

#videomask{
  position: fixed; 
  left:0; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  z-index: 100;
  background:rgba(0,0,0,0.5);
  -webkit-transform: translateY(-100%) scale(0.01);
  -webkit-transition-properties: background-color, -webkit-transform;
  -webkit-transition-duration: 300ms;
  -moz-transform: translateY(-100%) scale(0.01);
  -moz-transition-properties: background-color, -moz-transform;
  -moz-transition-duration: 300ms;
  -o-transform: translateY(-100%) scale(0.01);
  -o-transition-properties: background-color, -o-transform;
  -o-transition-duration: 300ms;
}

#videomask.visible{
  background:rgba(0,0,0,0.7);
  -webkit-transform: translateY(0px) scale(1);
  -moz-transform: translateY(0px) scale(1);
  -o-transform: translateY(0px) scale(1);
}

#videomask iframe{
  background: black;
}

#video{
  left: 50%; 
  top: 50%; 
  margin-left: -427px; 
  margin-top:-253px; 
  width: 853px; 
  height: 505px; 
  position: absolute; 
  z-index: 105; 
  background-color: #000;
}




/* 
=========================================================
    ARTICLE
========================================================= 
*/

article{
  padding: 60px 0;
}

article h1{
  font-size: 40px;
  line-height: 1.2;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

article.twocols{
  
}

article.twocols section{
  width: 50%;
  float: left;
}

article > .inner,
footer > .inner{
  margin: 0 auto;
  width: 768px;
}



/* 
=========================================================
    SECTIONS
========================================================= 
*/

#about{
  background: rgb(25,83,71);
  color: rgb(250,250,250);
  padding: 60px 0;
}

#download{
  background: rgb(36,115,107);
  color: white;
}



#features,
#technology,
#roadmap,
#events{
  font-size: 16px;
}

#features h1,
#technology h1,
#roadmap h1,
#events h1{
  font-size: 28px;
  margin-bottom: 28px;
}



#features{
  background: rgb(104,178,152);
}

#technology section{
  display: inline-block;
  float: left;
  font-size: 14px;
  width: 45%;
  padding-right: 40px;
  height: 280px;
}

#technology section img{
  display: block;
}

#events img{
  display: block;
}



#developer{
  background: rgb(49,51,61);
  color: white;
}

#developer h1{
  margin-bottom: 30px;
}

#developer p{
  padding: 0 10px;
}

#developer section{
  height: 310px;
  margin-bottom: 20px;
  margin-right: 20px;
  float: left;
  display: inline-block;
  background: rgb(49,51,61);
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  font-size: 12px;
}

#developer section,
#developer section img{
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
}

#faq{
  background: rgb(215,229,155);
}


