/* 
=========================================================
 	  RESET
========================================================= 
*/

*{
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section, video, object {
	display: block;
}

a img {border: 0;}

figure {position: relative;}
figure img {width: 100%;}




/* 
=========================================================
 	  CORE
========================================================= 
*/

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
  font-size: 16px;
	line-height: 1.6;
  font-family: "Lucida Grande", Tahoma, sans-serif;
}

body > *{
}

img {
	border: none;
}

header, footer, nav, block, article{
	display: block;
}

p{
	margin: 20px 0;
}


/* 
=========================================================
 	  HEADER
========================================================= 
*/

header{
	margin: 50px 0;
	text-align: center;
}

header img {
  margin: 0 auto;
}

header h1{
	display: none;
}




/* 
=========================================================
 	  FOOTER
========================================================= 
*/

footer {
  background-color: #31333d;
	clear:both;
	color: #D7E59B;
	width:100%;
	height: 300px;
	margin: 0 auto;
}



/* 
=========================================================
 	  NAVIGATION
========================================================= 
*/

nav {
  background: rgb(49,51,61);
	text-align: center;
}

nav ul{
  list-style: none;
	text-align:center;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  border-left: 1px solid rgba(255,255,255,0.2);
  border-right: 1px solid rgba(255,255,255,0.2);
	padding: 10px 16px;
	  
  color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	text-shadow: 1px 1px 1px black;
	margin: 0 8px;
}

nav li a:hover{
	background-color: rgba(255,255,255,0.2);
}



/* 
=========================================================
 	  ARTICLE
========================================================= 
*/

article{
  border-top: 1px solid rgb(33,33,33);	
  border-bottom: 1px solid rgb(100,100,100);
}

article h1{
	font-size: 40px;
	font-weight: 100;
}

article.twocols{
  
}

article.twocols section{
  width: 40%;
  float: left;
  
}


article > .inner{
  margin: 0 auto;
  width: 768px;
}



/* 
=========================================================
 	  SECTIONS
========================================================= 
*/

#about{
  background: rgb(25,83,71);
  font-size: 20px;
  line-height: 1.8;
  color: rgb(250,250,250);
  padding: 60px 0;
}

#about h1{
  line-height: 1.2;
}

#showcase{
  background: rgb(49,51,61);
  padding: 60px 0;
}


#download{
  background: rgb(36,115,107)
}

#features{
  background: rgb(215,229,155);
}

#features section{

}

#faq{
  background: rgb(215,229,155);
}

#developer{
  background: rgb(49,51,61)
}

footer{
  background: black;
  color: white;
}


