=========================================================
    RESET
========================================================= 
*/

*{
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section, video, object {
  display: block;
}

a img {border: 0;}

figure {position: relative;}
figure img {width: 100%;}




/* 
=========================================================
    CORE
========================================================= 
*/

body {
  font-size: 17px;
  line-height: 1.8;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  color: rgb(49,51,61);
  background: url(pics/style/Pattern-1.png) top left repeat rgb(227,237,185);
}

body > *{
}

img {
  border: none;
}

p{
  margin: 30px 0;
}

a{
  color: inherit;
}

pre{
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  
  padding: 4px 8px;
  background: rgba(255,255,255,0.2);
  color: rgba(49,51,61,0.8);
  font-family: "Consolas", monospace;
  border: 1px solid rgba(255,255,255,0.8);
}

ul{
  padding-left: 25px;
  list-style: square;
}

dt{
  font-weight: bold;
}

dd{
  padding-left: 20px;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.twocols section{
  display: inline-block;
  float: left;
  width: 47%;
  margin-bottom: 38px;
  margin-right: 38px;
}

.twocols section:nth-child(even){
  margin-right: 0;
}



/* 
=========================================================
    HEADER
========================================================= 
*/

header{
  text-align: center;
  position: relative;
  background: white;
}

header img {
  margin: 50px auto 50px;
}

header h1{
  display: none;
}

header p{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  text-transform: uppercase;
  font-size: 28px;
  padding: 4px 0;
  margin: 0;
  color: white;
  text-shadow: -1px 1px 1px rgba(0,0,0,0.3);
  background: rgb(255,165,60);
  
  -webkit-transform: rotate(45deg) translateY(-10px) translateX(80px);
  -moz-transform: rotate(45deg) translateY(-30px) translateX(30px);
  -o-transform: rotate(45deg) translateY(-30px) translateX(30px);
  transform: rotate(45deg) translateY(-30px) translateX(30px);
  
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  -o-box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}



/* 
=========================================================
    FOOTER
========================================================= 
*/

footer{
  background-color: rgb(49,51,61);
  border-top: 1px solid rgb(49,51,61);
  border-bottom: 1px solid rgb(49,51,61);
  color: rgba(255,255,255,0.7);
  font-size: 18px;
  padding: 30px 0;
}

footer p:last-child{
  text-align: right;
  margin-top: 40px;
}

footer img{
  margin: 0 8px;
  border: 1px solid black;
}



/* 
=========================================================
    NAVIGATION
========================================================= 
*/

nav {
  background: rgb(49,51,61);
  text-align: center;
  border-bottom: 1px solid rgb(29,31,38)
}

nav ul{
  list-style: none;
  text-align:center;
  padding: 4px 0 3px;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 6px 16px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin: 0 8px;
  
  -webkit-transition: background-color 100ms ease-in-out;
  -moz-transition: background-color 100ms ease-in-out;
  -o-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
  
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

nav li a:hover{
  background-color: rgba(255,255,255,0.2);
}



/* 
=========================================================
    VIDEOMASK
========================================================= 
*/

#videomask{
  position: fixed; 
  left:0; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  z-index: 100;
  background: rgba(0,0,0,0.5);
  
  -webkit-transform: translateY(-100%) scale(0.01);
  -webkit-transition-properties: background-color, -webkit-transform;
  -webkit-transition-duration: 200ms;
  
  -moz-transform: translateY(-100%) scale(0.01);
  -moz-transition-properties: background-color, -moz-transform;
  -moz-transition-duration: 200ms;
  
  -o-transform: translateY(-100%) scale(0.01);
  -o-transition-properties: background-color, -o-transform;
  -o-transition-duration: 200ms;
  
  transform: translateY(-100%) scale(0.01);
  transition-properties: background-color, transform;
  transition-duration: 200ms;
}

#videomask.visible{
  background:rgba(0,0,0,0.7);
  
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}

#videomask iframe{
  background: black;
}

#video{
  left: 50%; 
  top: 50%; 
  margin-left: -427px; 
  margin-top:-253px; 
  width: 853px; 
  height: 505px; 
  position: absolute; 
  z-index: 105; 
  background-color: #000;
  outline: 4px solid black;
}



/* 
=========================================================
    ARTICLE
========================================================= 
*/

article{
  padding: 40px 0;
}

article h1{
  font-size: 34px;
  line-height: 1.2;
  margin-bottom: 30px;
}

article > .inner,
footer > .inner{
  margin: 0 auto;
  width: 720px;
}



/* 
=========================================================
    SECTIONS
========================================================= 
*/

#about{
  background: -webkit-gradient(linear, 0% 0%, 0% 150, from(rgba(255,255,255,0.09)), to(rgba(255,255,255,0.0))) top left;
  background: -moz-linear-gradient(top, rgba(255,255,255,0.09), rgba(255,255,255,0.0) 150px) top left;
  
  background-color: rgb(25,83,71);
  color: rgb(250,250,250);
  padding: 80px 0px 60px;
}

#about h1{
  font-size: 38px;
}

#about .button{
  text-align: center;
  color: rgb(49,51,61);
  
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;

  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  
  padding: 6px 22px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  width: 150px;
  margin-right: 15px;
  
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.6)), color-stop(0.5, rgba(255,255,255,0.2)), color-stop(0.5, rgba(255,255,255,0.0)), to(rgba(255,255,255,0.0))) !important;
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.0) 50%, rgba(255,255,255,0.0)) !important;
  
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  -moz-transition: -moz-transform 100ms ease-in-out;
  -o-transition: -o-transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;

  -webkit-box-shadow: 0px 2px 1px rgba(255,255,255,0.3);
  -moz-box-shadow: 0px 2px 1px rgba(255,255,255,0.3);
  -o-box-shadow: 0px 2px 1px rgba(255,255,255,0.3);
  box-shadow: 0px 2px 1px rgba(255,255,255,0.3);
}

#about .button.primary{
  background: rgb(255,165,60);
}

#about .button.secondary{
  background: rgb(215,229,155);
}

#about .button:hover{
  -webkit-transform: scale(1.05);
}

#download{
  background: -webkit-gradient(linear, 0% 0%, 0% 150, from(rgba(255,255,255,0.2)), to(rgba(255,255,255,0.0))) top left;
  background: -moz-linear-gradient(top, rgba(255,255,255,0.2), rgba(255,255,255,0.0) 150px) top left;
  
  background-color: rgb(215,229,155);
  border-bottom: 20px solid rgb(25,83,71);
  margin-bottom: 40px;
}

#features section{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

#technology section{
  text-align: center;
  background: white;
  border: 1px solid rgb(49,51,61);
  
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
  -o-border-radius-topleft: 12px;
  -o-border-radius-topright: 12px;
  border-radius-topleft: 12px;
  border-radius-topright: 12px;

  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  -o-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

#technology section a{
  display: block;
  padding: 10px 0 4px;
}

#technology section:first-child {
  background: rgb(19,66,117);
}

#technology section ul{
  min-height: 190px;
  border-top: 1px solid rgb(49,51,61);
  padding: 15px 35px;
  text-align: left;
  background: rgb(215,229,155);
  
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
}

#roadmap dl{
  margin-bottom: 17px;
}

#roadmap dt{
  font-size: 20px;
}

#roadmap dt span{
  color: rgba(49,51,61,0.8);
  font-size: 14px;
}

#events section{
  background: rgb(215,229,155);
  border: 1px solid rgb(150,150,150);
  margin-bottom: 30px;
  padding-bottom: 20px;
  
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
  -o-border-radius-topleft: 12px;
  -o-border-radius-topright: 12px;
  border-radius-topleft: 12px;
  border-radius-topright: 12px;
  
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  -o-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

#events h2{
  background: white;
  margin-bottom: 20px;
  font-size: 17px;
  padding: 8px 20px;
  border-bottom: 1px solid rgb(49,51,61);
  
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
  -o-border-radius-topleft: 12px;
  -o-border-radius-topright: 12px;
  border-radius-topleft: 12px;
  border-radius-topright: 12px;  
}

#events h2 a{
  text-decoration: none;
}

#events p{
  margin: 0px 20px;
}

#developer section{
  height: 320px;
  margin-bottom: 24px;
  margin-right: 24px;
  float: left;
  display: inline-block;
  background: rgb(25,83,71);
  color: #ddd;
  font-size: 13px;
  width: 132px;
  overflow: hidden;
  
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  -o-box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

#developer section p{
  padding: 0 10px;
  margin: 0;
  margin-top: 4px;
  margin-bottom: 8px;
  line-height: 1.3;
}

#developer section img+p{
  font-size: 20px;
}

#developer section,
#developer section img{
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;

  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
  -o-border-radius-topleft: 12px;
  -o-border-radius-topright: 12px;
  border-radius-topleft: 12px;
  border-radius-topright: 12px;
}

#faq{
  
}

