/* 
=========================================================
 	  RESET
========================================================= 
*/

*{
	outline: 0px dotted red;
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}





/* 
=========================================================
 	  CORE
========================================================= 
*/

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
  font-family: "Lucida Grande", Tahoma, sans-serif;
	line-height: 1.6;
}

body > *{
	width: 960px;
	margin: 0px auto;
}

img {
	border: none;
}

header, footer, nav, block, article{
	display: block;
}

p{
	margin: 20px 0;
}


/* 
=========================================================
 	  HEADER
========================================================= 
*/

header{
	margin-top: 40px;
	text-align: center;
}

header img {
  margin: 0 auto;
}

header h1{
	display: none;
}




/* 
=========================================================
 	  FOOTER
========================================================= 
*/

footer {
  background-color: #31333d;
	clear:both;
	color: #D7E59B;
	width:100%;
	height: 300px;
	margin: 0 auto;
}



/* 
=========================================================
 	  NAVIGATION
========================================================= 
*/

nav {
    background: #31333d;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-box-shadow: 0px 3px 3px rgba(49,51,61,0.4);
	-moz-box-shadow: 0px 3px 3px rgba(49,51,61,0.4);

	margin: 40px auto;
}

nav ul{
  list-style: none;
	padding: 10px 16px;
	text-align:center;
}

nav li {
  float: left;
}

nav a {
  color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	text-shadow: 1px 1px 1px black;
	margin: 0 8px;
}

nav li a:hover{
	color: #D7E59B;
}



/* 
=========================================================
 	  ARTICLE
========================================================= 
*/

article{
  border-bottom: 1px solid rgb(229,229,229);	
}

article h1{
	font-size: 20px;
	color: rgb(49,51,61);
	text-shadow: 1px 1px 1px rgba(49,51,61,0.3);
}

article.twocols{
  
}

article.twocols section{
  width: 40%;
  float: left;
  
}



/* 
=========================================================
 	  SECTIONS
========================================================= 
*/

#features{
}

#features section{
  border: 1px solid rgb(222,222,222);
  -webkit-border-radius: 10px;
  background: rgb(246,246,246);
  padding: 30px;
  font-size: 13px;
}




