<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="UnifyEclipse.unify"
            name="Unify">
      </category>
      <wizard
            category="UnifyEclipse.unify"
            class="unifyeclipse.UnifyAndroidWizard"
            icon="icons/projectwizard.gif"
            id="UnifyEclipse.unifyWizard"
            name="Unify Android Project"
            project="true">
      </wizard>
   </extension>
   <extension
         id="unifyBuilder"
         name="Unify Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="unifyeclipse.builder.UnifyBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="unifyNature"
         name="Unify Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="unifyeclipse.builder.UnifyNature">
         </run>
      </runtime>
      <builder
            id="UnifyEclipse.unifyBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="UnifyEclipse.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="unifyeclipse.builder.ToggleNatureAction"
               enablesFor="+"
               id="UnifyEclipse.addRemoveNatureAction"
               label="Add/Remove Unify Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>

</plugin>
